ion-menu::part(backdrop) {
  background-color: rgb(46, 166, 251);
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgb(46, 166, 251);
}

.container-fluid{
  background: #1F618D;
  padding: .5em;
}

nav {
  padding: 0% 0%;
}

.nav-link {
  color: white;
}

.navbar-brand {
  color: white;
}
