<ion-app>

  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Proyectos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>

        <ion-button id="hover-trigger">Hover Over Me</ion-button>
        <ion-popover trigger="hover-trigger" triggerAction="hover">
          <ng-template>

            <ion-item routerLink="clientes">
              <ion-icon slot="start" name='user'></ion-icon>
              <ion-label>
                Clientes
              </ion-label>
            </ion-item>

            <ion-item routerLink="solicitudes">
              <ion-icon slot="start" name='user'></ion-icon>
              <ion-label>
                Solicitudes
              </ion-label>
            </ion-item>

          </ng-template>
        </ion-popover>

      </ion-toolbar>

    </ion-header>
    <ion-content class="ion-padding">


      <!-- Se insertan los componentes hijos -->
      <router-outlet></router-outlet>


    </ion-content>
  </div>
</ion-app>


