<ion-header class="bar-balanced">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" color>
    <img src="../../assets/icon/Logo_Cbk_4.png" width="50" height="50"/>
    <div class="container-fluid">
      <a class="navbar-brand">Proyectos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="home/crear-cliente">Crear Clientes</a></li>
              <li><a class="dropdown-item" href="home/clientes">Clientes </a></li>


              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Oportunidad Comercial
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="oferta-comercial"> Nueva Oferta comercial </a></li>
              <li><a class="dropdown-item" href="oferta-comercial/ofertas">Ofertas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cotizaciones</a></li>
              <li><a class="dropdown-item" href="#">Nueva cotización</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Indicadores
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="home/clientes">Oportunidades abiertas</a></li>
              <li><a class="dropdown-item" href="home/crear-cliente">Oportunidades cerradas </a></li>


              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Informes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="home/clientes">Informe general</a></li>
              <li><a class="dropdown-item" href="home/crear-cliente">Informe por proyecto </a></li>


              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</ion-header>
